is er een relatie tussen het GDP en inkomensongelijkheid?
Let op! Verschil tussen correlatie en causaal verband

Je kan gebruik maken van het Gini co-efficient: https://ourworldindata.org/income-inequality#high-income-countries-tend-to-have-lower-inequality

De data van historische GDP is hier: 
https://ourworldindata.org/economic-growth#gdp-per-capita-over-the-long-run

Je wil het correlatie coefficient van het GDP en het Gini coefficient berekenen. Voordat dat kan moet je de data aanpassen. 

Extra uitleg: https://www.youtube.com/watch?v=TRNaMGkdn-A

In [8]:
import pandas as pd
import numpy as np

In [9]:
# data inladen
df_gini = pd.read_csv("/content/economic-inequality-gini-index.csv", encoding = 'cp1252')
df_gdp = pd.read_csv("/content/gdp-per-capita-maddison-2020.csv", encoding = 'cp1252')

df_gini
#df_gdp

        Entity Code  Year  Gini index
0      Albania  ALB  1981    27.01034
1      Albania  ALB  1982    27.01034
2      Albania  ALB  1983    27.01034
3      Albania  ALB  1984    27.01034
4      Albania  ALB  1985    27.01034
...        ...  ...   ...         ...
4379  Zimbabwe  ZWE  2009    43.15358
4380  Zimbabwe  ZWE  2010    43.15358
4381  Zimbabwe  ZWE  2011    43.15358
4382  Zimbabwe  ZWE  2017    44.33708
4383  Zimbabwe  ZWE  2019    50.25645

[4384 rows x 4 columns]

In [10]:
# Data opschonen
df_gini = df_gini.drop(columns=['Code' , 'Year'])
df_gini = df_gini.rename(columns={'Gini index': 'Gini'})
#df_gini = df_gini.groupby(['Gini'])

df_gdp = df_gdp.drop(columns=['Code', '417485-annotations', 'Year'])
df_gdp = df_gdp.rename(columns={'GDP per capita': 'GDP'})
#df_gdp = df_gdp.groupby(['GDP'])

df_gini
#df_gdp

        Entity      Gini
0      Albania  27.01034
1      Albania  27.01034
2      Albania  27.01034
3      Albania  27.01034
4      Albania  27.01034
...        ...       ...
4379  Zimbabwe  43.15358
4380  Zimbabwe  43.15358
4381  Zimbabwe  43.15358
4382  Zimbabwe  44.33708
4383  Zimbabwe  50.25645

[4384 rows x 2 columns]

In [12]:
#data samenvoegen
df2 = pd.merge(df_gini, df_gdp, how="inner", on = "Entity" )
df2

          Entity      Gini          GDP
0        Albania  27.01034   711.000000
1        Albania  27.01034   953.000000
2        Albania  27.01034  1092.000000
3        Albania  27.01034  1243.000000
4        Albania  27.01034  1293.000000
...          ...       ...          ...
444502  Zimbabwe  50.25645  1594.000000
444503  Zimbabwe  50.25645  1560.000000
444504  Zimbabwe  50.25645  1534.000000
444505  Zimbabwe  50.25645  1582.366211
444506  Zimbabwe  50.25645  1611.405151

[444507 rows x 3 columns]

In [13]:
#Correlatie berekenen 
correlation = df2.dropna().corr()
correlation

          Gini       GDP
Gini  1.000000 -0.213731
GDP  -0.213731  1.000000

In [ ]:
# Correlatie Gini & GDP = negatief, dit betekent dat er een negatieve correlatie is. Waneer Gini toeneemt of GDP toeneemt neemt de ander af.